$colors: (
  'primary': #4f46e5,
  'primary-color': #4f4645,
  'secondary': #7c3aed,
  'success': #10b981,
  'danger': #ef4444,
  'dark': #1f2937,
  'light': #f3f4f6,
);

$primary-color: white;
$primary-color-2: #4f4645;
