@use 'abstracts/variables';
@use 'sass:color';
@use 'sass:map';

$blue: #3bbfce;
$red: red;
$margin: 16px;

.header {
  border-color: $blue;
  color: color.adjust($red, $lightness: -9%);
}

body {
  // background-color: map.get(variables.$colors, 'primary-color');
}
